CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
hostapps/CMakeFiles/
hostapps/Makefile
hostapps/bench_hanoi
hostapps/cmake_install.cmake
hostapps/elfcrypt
hostapps/hello
hostapps/load-lvl1
hostapps/run
hostapps/runtorture
hostapps/sstep
lib/CMakeFiles/
lib/CMakeLists.txt
lib/Makefile
lib/cmake_install.cmake
lib/libcspim.a
mipsapps/CMakeCache.txt
mipsapps/CMakeFiles/
mipsapps/Makefile
mipsapps/adder
mipsapps/cmake_install.cmake
mipsapps/console
mipsapps/cputorture
mipsapps/digits
mipsapps/fact
mipsapps/file
mipsapps/hanoi
mipsapps/hello
mipsapps/max3sum
tags
vm/CMakeCache.txt
vm/CMakeFiles/
vm/Makefile
vm/cmake_install.cmake
vm/libmipsvm.a
*~
cspimapps/test
libmips/*.o
